body , html{
    height: 100%;
    margin: 0;
    font-size: 1.125em;
    font-family: sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.pimg1, .pimg2 , .pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    /* THIS ADDS PARALLAX AFFECT */

    background-attachment: fixed;

     /* TO REMOVE PARALLAX AFFECT 
        background-attachment:scroll;
     
     */

}

.pimg1{
    background-image:url('img/framecolor.jpg');
    min-height: 100%;
    background-repeat:no-repeat;
}

.pimg2{
    background-image:url('img/framemid.jpg');
    min-height: 40%;
    background-repeat:no-repeat;
}

.pimg3{
    background-image:url('img/framebw.jpg');
    min-height: 40%;
    background-repeat:no-repeat;
}

.section{
    text-align: center;
    padding: 1.4% 4.5%;
}

.section p{
    text-align:justify;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    letter-spacing:0.375em;
    font-weight: 500;
    text-align: center;
}

.ptext .border.head{
    background-color: #fff;
    color: #000;
    padding: 1.250em;
}


.ptext .border.trans1{
    background-color: #111;
    color: #fff;
    opacity: 0.80;
    padding: 1.250em;
}

.ptext .border.trans2{
    background-color: #fff;
    color: #111;
    opacity: 0.80;
    padding: 1.250em;
}

.listf li{
    text-align: left;
}

footer{
    text-align: center;
    background-color: #fff;
    font-size: 1em;
    width: 100%;
}

@media screen and (max-width:568px){
    .pimg1, .pimg2 , .pimg3{
        min-height: 100%;
        background-position: center;
        background-attachment:scroll;
    }

    .section{
        font-size: 1.125em;
        padding: 1% 4%;
    }

    .ptext{
        letter-spacing: 0.2em;
        font-size: 1em;
        font-weight: 500;
        
    }

    .ptext .border{
        padding: 2% 6%;
    }

    footer{
        font-size: 0.8em;
    }
    
}


@media screen and (min-width:1400px){


    .section{
        font-size: 1.5em;
        padding: 1% 6%;
    }


    .ptext{    
        font-size: 1.8em;
        font-weight: 600;
        letter-spacing: 0.675em;
    }


    .ptext .border{
        padding: 2% 6%;
    }


    footer{
        font-size: 1.4em;
    }

}